.bannerContainer {
  /* height: 9rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  color: white;
}

.media {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.header {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.body {
  font-size: 0.875rem;
  opacity: 0.9;
}

.ctaButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: white;
  color: black;
  border-radius: 0.5rem;
  width: fit-content;
  text-decoration: none;
}
