.container {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.fullWidth {
  width: 100%;
}

.label {
  display: block;
  font-size: 1.35rem; /* text-lg */
  font-weight: 600;
  padding: 0.5rem;
  color: rgba(21, 21, 21, 0.9);
}

:global(.dark) .label {
  color: #e5e5e5;
}

/* Wrapper Box */
.inputWrapper {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  outline: 1px solid rgb(25, 25, 25);
  outline-offset: -1px;
  transition: all 300ms ease;
}

:global(.dark) .inputWrapper {
  background-color: #d1d5db;
}

.inputWrapper:focus-within {
  outline: 2px solid #313131; 
  outline-offset: -2px;
}

.wrapperError {
  outline-color: #ef4444 !important;
}

/* Adornments */
.adornment {
  font-size: 1.25rem;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  color: #121212;
  user-select: none;
}

:global(.dark) .adornment {
  color: #121212;
}

/* Internal Input */
.innerInput {
  display: block;
  min-width: 0;
  flex-grow: 1;
  background: transparent;
  padding: 0.375rem 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(23, 23, 23);
  border: none;
}

.innerInput:focus {
  outline: none;
  box-shadow: none;
}

:global(.dark) .innerInput {
  color: #4b5563; /* gray-600 */
}

.innerInput::placeholder {
  color: #6b7280;
}

/* Right Side Actions */
.rightActions {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 0.5rem;
}

.passwordBtn {
  color: #9ca3af;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 200ms;
}

.passwordBtn:hover {
  color: white;
}

/* Helper Text */
.helper {
  font-size: 0.75rem;
  margin-top: 0.125rem;
}

.helperNormal {
  color: #9ca3af;
}
.helperError {
  color: #ef4444;
}

.errorIcon {
  color: #ef4444;
}
