.container {
  min-height: 100vh;
  padding-bottom: 20px;
}

.balanceLabel {
  font-size: x-large;
}

.refreshLink {
  font-size: small;
}

.balanceValue {
  display: flex;
  gap: 0.5rem;
  /* justify-content: center; */
  align-items: center;
}

.balance {
  font-size: xx-large;
}

.balanceCard {
  margin: 1rem;
  padding: 1.5rem;
  background: linear-gradient(to bottom, #ffffff, #e0f2fe);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
}

:global(.dark) .balanceCard {
  background: linear-gradient(to bottom, #4b4b4b, #080808);
}

.zapIcon {
  color: #facc15;
  width: 40px;
  height: 40px;
}

.addMoneySection {
  background: white;
  margin: 16px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

:global(.dark) .addMoneySection {
  background: linear-gradient(to bottom, #4b4b4b, #080808);
}

.chipGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 1rem 0;
}

.addBtn {
  background-color: #004696 !important; /* Paytm Blue */
  border-radius: 24px !important;
}

.errorState {
  background: white;
  margin-top: 12px;
  padding: 40px 20px;
  border-radius: 16px;
  text-align: center;
  border: 1px solid #f3f4f6;
}

.errorIconWrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto 16px;
}

.notificationDot {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: #ef4444;
  border-radius: 50%;
  border: 2px solid white;
}

.historySection {
  margin: 1rem;
  margin-top: 2rem;
}

.divider {
  border: 0;
  border-top: 1px solid #808080;
  margin: 1rem 0;
  width: 100%;
}

:global(.dark) .divider {
  border-top: 1px solid #808080;
}
